<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Power Measurements</title>

  <script src="javascripts/jquery-1.11.1.min.js"></script>
  <script src="javascripts/gauge.min.js"></script>
  <script src="javascripts/index.js"></script>
  <script src="javascripts/enerspectrum.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>
<h1 align="center"> <image src="images/miti_OficialLogo.png" width="180" height="135"></image> </h1>
<h2 align="center" >EnergyLab - EnerSpectrum Socket</h2>
<h4></h4>
<body style="background-color:powderblue;">
<div class="container">
  <div class="row">
    <div align="center" class = "col-md-4">

      <canvas id="power_canvas_id" width="250" height="250"
              data-type="canv-gauge"
              data-title="Power"
              data-min-value="0"
              data-max-value="2000"
              data-major-ticks="0 200 400 600 800 1000 1200 1400 1600 1800 2000"
              data-minor-ticks="10"
              data-stroke-ticks="true"
              data-units="Watts"
              data-value-format="3.0"
              data-glow="true"
              data-animation-delay="10"
              data-animation-duration="200"
              data-animation-fn="bounce"
              data-colors-needle="#f00 #00f"
              data-highlights="0 300 #06B70F, 300 1000 #F5E940, 1000 2000 #FB0808"
      ></canvas>
    </div>

    <div align="center"  class = "col-md-4">
      <div align="center">
        <h3></h3>

        <button id="calibrate_button" style="margin-right: 30px">Calibrate</button>
        <style>
          .button {background-color: #FB0808;} /* Red */
        </style>
        <button class=button id="relay_button">Turn plug off</button>

      </div>
      <h4></h4>
      <div align="center">
        <select id="voltage">
          <option >---Select Mains RMS Voltage (default 230 V)---</option>
          <option value="110">110 V</option>
          <option value="120">120 V</option>
          <option value="127">127 V</option>
          <option value="220">220 V</option>
          <option value="230">230 V</option>
          <option value="240">240 V</option>
        </select>
        <h4 id='actualVoltage'>230 V</h4>
      </div>
    </div>

    <div align="center"  class = "col-md-4">
      <canvas id="current_canvas_id" width="250" height="250"
              data-type="canv-gauge"
              data-title="Current"
              data-min-value="0"
              data-max-value="20"
              data-major-ticks="0 2 4 6 8 10 12 14 16 18 20"
              data-minor-ticks="10"
              data-stroke-ticks="true"
              data-units="Amps"
              data-value-format="2.2"
              data-glow="true"
              data-animation-delay="10"
              data-animation-duration="200"
              data-animation-fn="bounce"
              data-colors-needle="#f00 #00f"
              data-highlights="0 4 #06B70F, 4 10 #F5E940, 10 20 #FB0808"
      ></canvas>
    </div>
  </div>
</div>

</body>
</html>